  .shibuts-card {
    position: absolute;
    background-color: rgb(1, 223, 1);
    border-radius: 1.19rem;
    overflow: hidden;
    cursor: pointer;
    height: 3rem; 
    min-width: 0; 
   transition: 
        min-width 0.8s cubic-bezier(0.19, 1, 0.22, 1), 
        height 0.4s ease-in-out,
        inset-inline-start 0.8s cubic-bezier(0.19, 1, 0.22, 1),
        inset-inline-end 0.8s cubic-bezier(0.19, 1, 0.22, 1),
        transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.shibuts-card:hover {
    min-width: 40rem !important; 
    height: 6rem !important; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    z-index: 100 !important;
   
}

.shibuts-card.near-end:hover {
 margin-left: 1rem;
 background-color: #3e3d3d;
 border-radius: 1rem;
 padding: 5px 9px;
    
}

.div-up {
    flex-direction: row;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: rgb(71, 71, 71);
    font-weight: 500;
    white-space: nowrap;
    
}

.variation-container {
    opacity: 0;
    transform: translateX(100px); /* Légèrement décalé vers le bas */
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none; /* Évite d'interférer avec la souris quand invisible */
}

/* État quand la carte est survolée */
.variation-container.visible {
    opacity: 1;
    transform: translateX(0); /* Reprend sa place normale */
    pointer-events: auto;
}



.iconAndTitle {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: row;
    gap: 0.2em;
    
}

.card-title {
    flex: 1; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 
}



.bi-brightness-high-fill {
    font-size: 1.1rem;
}

.bi-circle-fill{
    font-size: 0.7rem;
}

.div-down {
    background-color: #4b4a4a; 
    color: white;
    height: 3rem; 
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 0.85rem;
    flex-direction: row;
    justify-content: start ;    
    opacity: 0;
    transition: opacity 0.2s ease-in;     
    width: 100%;
}

.spanDate {
    margin-left: 1rem;
    background-color: #3e3d3d;
    border-radius: 1rem;
    padding: 5px 9px;
    font-size: 0.9rem;
    font-weight: 600;
}

.shibuts-card:hover .div-down {
    opacity: 1;
}