.shibutsCard {
    position: absolute;
    border-radius: 1.19rem;
    overflow: hidden;
    cursor: pointer;
    height: 3rem; 
    min-width: 0; 
    transition: 
        min-width 0.8s cubic-bezier(0.19, 1, 0.22, 1), 
        height 0.4s ease-in-out,
        inset-inline-start 0.8s cubic-bezier(0.19, 1, 0.22, 1),
        inset-inline-end 0.8s cubic-bezier(0.19, 1, 0.22, 1),
        transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.shibutsCard:hover {
  min-width: 40rem;
  min-height: 4.4rem ;
  max-height: 4.4rem ;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  z-index: 100 !important;
}

.nearEnd:hover {
 margin-left: 1rem;
 background-color: #3e3d3d;
 border-radius: 1rem;
 padding: 5px 9px;
}

.divUp {
  flex-direction: row;
  height: 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: rgb(71, 71, 71);
  font-weight: 500;
  white-space: nowrap;
}

.variationContainer {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none;
}

.visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.spanDate.hidden {
    display: none;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.iconAndTitle {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: row;
    gap: 0.2em;
}

.cardTitle {
    flex: 1; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.divDown {
  background-color: #4b4a4a;
  color: white;
  height: 2.2rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
  transition:
    opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;
  width: 100%;
}

.shibutsCard:hover .divDown {
    opacity: 1;
}

.divRessource {
   padding-right:10px;
   border-right:1px solid #ccc;
   display: flex;
   align-items: center;
   font-size: 15px;
   gap:7px;
}

.spanDate {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  background-color: #3e3d3d;
  border-radius: 5px;
  padding: 1.9px 8px;
  font-size: 0.9rem;
  font-weight: 600;
}
