.timeline-header {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 100%;
  border-bottom: 1.9px solid #606368;
  background: linear-gradient(
    to left,
    #4b4a4a 9rem,
    rgb(99, 98, 98) 9rem,
    rgb(99, 98, 98) calc(9rem + 1px),
    transparent calc(9rem + 1px)
  ),
  radial-gradient(  
    circle,
    rgb(34, 36, 37) 0%,
    rgba(25, 28, 28, 1) 64%
  );
}

.div-side {
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: aliceblue;
  font-weight: 500;
  font-size: 1.06rem;
}

.ticks-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
  position: relative;
  align-items: flex-end; 
  padding-right: 0.3rem;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 0 0.4rem;
}

.timeline-tick {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #efeded;
}

.tick-label {
  font-size: 0.85rem;
  white-space: nowrap;
  padding-top: 7px;
  flex: 1;
}

.arrow-icon {
  height: 15px;
}

.today {
    color: #8fceff;
    font-weight: 600;
}