.popover-dates-container {
  background-color: #3d3c3c !important;
  border: 1px solid #525252 !important;
  border-radius: 12px !important  ;
  min-width: 200px;
}

.popover-content-box {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
  height: 12rem;
  width: 14rem;
}

.popover-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.85rem;
  margin-bottom: -5px;
}

:global(.MuiPickersInputBase-root.MuiPickersOutlinedInput-root) {
  direction: ltr;
}
