.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #3e4344;
    border-radius: 8px;
    min-width: 1000px;
    min-height: 250px;
}

/* ================= FILTERS ================= */

.filters {
    background: rgba(255, 255, 255, 0.01);
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 20px;
}

.searchHolder {
    flex: 1;
    display: flex;
}

.searchAndFavorites {
    display: flex;
    align-items: center;
    gap: 15px;
}

.resetFilters {
    background: #5a5a5a;
    color: #fff;
    padding: 2px 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #777777;
    transition: background 0.3s ease;
}

.resetFilters:hover {
    background: #636363;
}

/* ================= FAVORITES CHECKBOX ================= */

.dropdownIcon {
    opacity: 0.6;
    transition: opacity 0.25s ease;
}

.columnHeaderContent.searchable:hover .dropdownIcon,
.chooseColumnHeader:hover .dropdownIcon {
    opacity: 1;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}

.checkbox input {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #aaa;
    border-radius: 4px;
    position: relative;
    transition: all 0.2s ease;
}

.checkbox:hover .checkmark {
    border-color: #666;
}

.checkbox input:checked + .checkmark {
    background: #42a3ed;
    border-color: #42a3ed;
}

.checkmark::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.checkbox input:checked + .checkmark::after {
    opacity: 1;
}

/* ================= ICONS ================= */

.csvIcon {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.csvIcon:hover {
    opacity: 1;
}

/* ================= COLUMN SELECTOR ================= */

.chooseColumn {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 50px 8px;
    border-radius: 15px;
    /* border: 1px solid #687e66; */
}

.chooseColumnHeader {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 2px 3px;
    border-radius: 15px;
}

/* ================= TABLE ================= */

.tableBody {
    /* background: rgb(102, 59, 6); */
}

.columnsHeaders {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.08);
}

.columnHeader {
    flex: 1;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.columnHeaderContent {
    display: flex;
    align-items: center;
    gap: 5px;
}

.columnHeaderContent.searchable {
    cursor: pointer;
}

.columnSearch {
    opacity: 0.6;
}

/* rows */

.tableRow {
    display: flex;
}

.tableCell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* ================= FAVORITE COLUMN ================= */

.favoriteSpaceHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 3px 5px;
}

.favoriteCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    cursor: pointer;
}

.favoriteCheckbox input {
    display: none;
}

.favoriteMark::before {
    content: "☆";
    font-size: 18px;
    color: #aaa;
    transition: all 0.2s ease;
}

.favoriteCheckbox input:checked + .favoriteMark::before {
    content: "★";
    color: #87c9ff;
}

/* ================= SUM ROW ================= */

.sum {
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    height: 35px;
}

.sumCell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.sumValue {
    color: #87c9ff;
    background: rgba(183, 223, 255, 0.098);
    padding: 0 5px;
    border-radius: 4px;
}

.chooseColumn {
    display: flex;
    align-items: center;
    background: rgb(68, 68, 81);
    padding: 0 8px;
    border-radius: 15px;
    border: 1px solid #66797e;
    cursor: pointer;
}