.containerWrapper {
    flex: 1;
    padding: 0 30px 30px 30px;
    display: flex;
}

.grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}