 .bodyGrid {
  flex: 1;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: clamp(12px, 2vw, 30px);

  padding: clamp(5px, 1vw, 25px) clamp(16px, 2.5vw, 50px);

  min-width: 0;
  min-height: 0;
  overflow: hidden;
}