.containerWrapper {
    display: flex;
    gap: clamp(8px, 1vw, 10px);
    align-items: center;
    padding: clamp(10px, 1.5vw, 15px) clamp(10px, 1.5vw, 15px) 0px clamp(10px, 1.5vw, 15px);
}

.iconImage {
  width: 40px;
  height: auto;
}

.controlsContainer {
    display: flex;
    gap: clamp(10px, 1.5vw, 15px);
}