* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ===== Global Scrollbar ===== */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

@media print {
  @page {
    size: A4 landscape;
    margin: 10mm;
  }

  body,
  .main-wrapper {
    background-color: white !important;
    color: black !important;
  }

  .card {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .container,
  .row,
  .col {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    float: none !important;
  }

  nav,
  header,
  footer,
  .no-print {
    display: none !important;
  }

  @media print {
    [class*="gant-container"],
    [class*="timeline-header"] {
      display: block !important;
      height: auto !important;
      min-height: 0 !important;
      background: white !important;
    }

    /* 2. On transforme le wrapper de contenu pour qu'il laisse les cartes respirer */
    [class*="row-content-wrapper"] {
      display: flex !important;
      flex-direction: column !important;
      gap: 20px !important; /* Espace entre les cartes d'un même Gdud */
      height: auto !important;
      padding: 10px !important;
    }

    /* 3. On neutralise la ligne individuelle qui bloquait à 3rem */
    [class*="gant-row"] {
      height: auto !important;
      position: relative !important;
      margin-bottom: 15px !important; /* Marge de sécurité */
    }

    [class*="shibuts-card"] {
      /* Dimensions et état "Hover" forcé */
      min-width: 40rem !important;
      height: 4.4rem !important;
      max-height: 4.4rem !important;
      margin-right: 8rem;

      /* Annulation du placement dynamique du Gantt */
      position: relative !important;
      inset-inline-start: auto !important;
      inset-inline-end: auto !important;
      transform: none !important;

      /* Structure et espacement */
      display: flex !important;
      flex-direction: column !important;
      overflow: visible !important;

      /* Rendu des couleurs */  
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }
  [class*="div-down"] {
    opacity: 1 !important;
    transform: translateY(0) !important;
    display: flex !important;
    background-color: #4b4a4a !important;
    -webkit-print-color-adjust: exact !important;
  }

  [class*="variation-container"] {
    opacity: 1 !important;
    transform: translateX(0) !important;
    display: block !important;
  }

  [class*="spanDate"] {
    display: flex !important;
    opacity: 1 !important;
  }
}
