* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ===== Global Scrollbar ===== */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

::selection {
  background: rgba(255, 255, 255, 0.25);
  color: white;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 10mm;
  }

  body,
  .main-wrapper {
    background-color: white;
    color: black;
  }

  .card {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .container,
  .row,
  .col {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    float: none;
  }

  nav,
  header,
  footer,
  .no-print {
    display: none;
  }


  @media print {
    [class*="gant-container"],
    [class*="timeline-header"] {
      display: block;
      height: auto;
      min-height: 0;
      background: white;
    }

    /* 2. On transforme le wrapper de contenu pour qu'il laisse les cartes respirer */
    [class*="row-content-wrapper"] {
      display: flex;
      flex-direction: column;
      gap: 20px; /* Espace entre les cartes d'un même Gdud */
      height: auto;
      padding: 10px;
    }

    /* 3. On neutralise la ligne individuelle qui bloquait à 3rem */
    [class*="gant-row"] {
      height: auto;
      position: relative;
      margin-bottom: 15px; /* Marge de sécurité */
    }

    [class*="shibuts-card"] {
      /* Dimensions et état "Hover" forcé */
      min-width: 40rem;
      height: 4.4rem;
      max-height: 4.4rem;
      margin-right: 8rem;

      /* Annulation du placement dynamique du Gantt */
      position: relative;
      inset-inline-start: auto;
      inset-inline-end: auto;
      transform: none;

      /* Structure et espacement */
      display: flex;
      flex-direction: column;
      overflow: visible;

      /* Rendu des couleurs */  
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
  [class*="div-down"] {
    opacity: 1;
    transform: translateY(0);
    display: flex;
    background-color: #4b4a4a;
    -webkit-print-color-adjust: exact;
  }

  [class*="variation-container"] {
    opacity: 1;
    transform: translateX(0);
    display: block;
  }

  [class*="spanDate"] {
    display: flex;
    opacity: 1;
  }
}
