.page {
  color: #ffffff;
  padding: 20px;
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background: radial-gradient(circle, rgba(46, 53, 66, 1) 0%, rgba(25, 28, 28, 1) 64%);
}

.header {
  display: flex;
  align-items: center;
}

.title {
  font-size: x-large;
  padding: 0;
  padding: 0;
}

/* .tableContainer {
  flex: 1;
} */

.iconContainer {
  display: flex;
  gap: clamp(10px, 1.5vw, 15px);
  align-items: center;
}

.iconImage {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.spacer {
  flex: 1;
}

.backButton {
  display: flex;
  align-items: center;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.backIcon {
  width: 9px;
  height: auto;
}