.gantpage-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: 0;
    margin: 0;
}   

.searchWrapper {
  position: fixed;
  top: 40px;
  right: 40px;

  z-index: 9999;

  animation: slideDown 460ms ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}