.resourceTable {
  width: 100%;
}

.resourceTable th {
  color: #a5a5a5;
  text-wrap: nowrap;
  padding: 5px 10px;
  text-align: right;
}

.resourceTable td {
  text-wrap: nowrap;
  padding: 5px 10px;
  text-align: center;
}

.resourceItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.resourceTable td.resourceItem {
  text-align: right;
}
